@font-face {
    font-family: Galyon;
    src: url("/assets/fonts/Galyon-Bold.otf") format('opentype'),
    url("/assets/fonts/Galyon-Bold-Italic.otf") format('opentype');

}

@font-face {
    font-family: GalyonBook;
    src: url("/assets/fonts/Galyon-Book.otf") format('opentype'),
    url("/assets/fonts/Galyon-Book-Italic.otf") format('opentype');
}
